.main { 
    display: flex;
}

.sidebar { 
    outline: 1px solid green;
    margin: 20px;
    padding: 30px;
}

.content { 
    outline: 1px solid blue;
    margin: 20px;
    flex-grow: 3;
    padding: 30px;
}

.content p { 
    text-align: center;
}

.sidebar p { 
    text-align: center;
}

.header { 
    outline: 1px solid red;
    padding: 30px;
    margin: 20px;
}

.header p { 
    text-align: center;
}